@using API.Base.Web.Base.Extensions.HtmlHelpers
@using API.Base.Web.Common.Helpers
@model IEnumerable<API.Base.Web.Common.Models.Entities.TemplateEntity>

@{
    ViewData["Title"] = "Template";
}

<h2>@ViewData["Title"]</h2>
@{ await Html.RenderBlindPartialAsync("_ShowHideColumns", new ShowHideColumnsModel()
   {
       Columns = new List<string>()
       {
           "Slug",
           "Title",
           "Content",
           "Description",
           "Type"
       }
   }); }
<div class="d-flex justify-content-end pb-2">
    <a class="btn btn-primary" asp-action="Create">Create new Template</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span>@Html.DisplayFor(modelItem => item.Slug)</span>
            </td>
            <td>
                <span>@Html.DisplayFor(modelItem => item.Title)</span>
            </td>
            <td>
                <span>@Html.DisplayFor(modelItem => item.Content)</span>
            </td>
            <td>
                <span>@Html.DisplayFor(modelItem => item.Description)</span>
            </td>
            <td>
                <span>@Html.DisplayFor(modelItem => item.Type)</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span></span>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span></span>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span></span>
            </td>
        </tr>
    }
    </tbody>
</table>